script.
  window.DEBUG = !{ DEBUG };
  window.picPath = '!{ picPath }';
  window.userInfo = !{ userInfo };
  window.__platform__ = '!{ platform }';
  window.__isIE__ = !{ isIE };
  window.__isSafari__ = !{ isSafari };
  window.__isChrome__ = !{ isChrome };
  window.__browser__ = '!{ browser }';
  window.__browserVersion__ = '!{ browserVersion }';